
<h1 Register h1/>


{% for message in messages %}
        <p id="messages" >{{ message }}</p
    {% endfor %}

<form method="POST" , action="",enctype= "multipart/form-data">
    {% csrf_token %}

    <!-- {{ form.username.label }}
    {{ form.username }}

    {{ form.email.label }}
    {{ form.email }}

    {{ form.password1.label }}
    {{ form.password1 }}

    {{ form.password2.label }}
    {{ form.password2 }}

    {{ form2.pic.label }}
    {{ form2.pic }} -->

    <!-- {{ form.as_p }} -->

    {{ form2.as_p }}

    <!-- <input type="file" name='pic' /> -->

    <input type ="submit" value="Signup" />

</form>

